# Dependencies
node_modules/
bin/
obj/
*.user

# Build output
dist/
build/
out/

# Env & secrets
.env
.env.*
*.pem
secrets/
platform/dapr/secrets.local.json

# IDE
.idea/
.vs/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
!*.tfvars.example
